.page{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

body{
    background-color: #F9F7F7;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


#addItem input[type="text"], #addItem textarea{
    background: transparent;
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
}

#addItem input[type="text"]::placeholder, #addItem textarea::placeholder{
    color: var(--bs-card-title-color);
    font-weight: 500;
}

#addItem input[type="text"]:focus, #addItem textarea{
    outline: none;
}

#addItem .card-text{
    font-size: var(--bs-body-font-size);
    font-weight: 400 !important;
    line-height: var(--bs-body-line-height);
}

#addItem .card-text::placeholder {
    font-size: var(--bs-body-font-size);
    font-weight: 400 !important;
    line-height: var(--bs-body-line-height);
}

#addItem textarea {
    resize: none;
    min-height: auto;
}

#addItem button{
    position: absolute;
    border-radius: 50%;
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 75%;
}